@use './variaveis' as *;
//estilizador de missaoCard e de missao

//seguindo o mobile first
.conteiner {
  background-color: rgba(54, 1, 45, 0.6);
  backdrop-filter: blur(8px);
  padding: 2rem 1.5rem;
  border-radius: 1.25rem;
  color: #ffaaf7;
  max-width: 1200px;
  margin: 2rem auto 7rem auto;
  overflow-y: auto;
  max-height: 80vh;
  scrollbar-width: thin;
  scrollbar-color: $destaque-rosa transparent;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $destaque-rosa;
    border-radius: 0.6rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e414ac;
  }
}

.missoes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.missao-card {
  background-color: $card;
  color: rgba(114, 0, 95, 0.7);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0.25rem 0.75rem rgba(107, 107, 107, 0.25);
  padding: 1.5rem;
  min-height: 22vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  outline: none;

  &:hover,
  &:focus {
    transform: translateY(-0.4rem);
    box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.4);
    outline: 2px solid #ffc7ea;
    outline-offset: 0.3rem;
  }

  h3.missao-titulo {
    font-size: 1.3rem;
    color: #68004e;
  }

  p.missao-descricao {
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #68004e;
  }

  button {
    background: $botao-rosaclaro;
    color: #fff;
    border: none;
    border-radius: 2rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
    transition: transform 0.2s, background 0.3s, color 0.3s;
    box-shadow: $sombrasBox;

    &:hover:not(:disabled) {
      transform: scale(1.05);
      background: $botao-rosaescuro;
      color: #fff;
    }

    &:focus {
      outline: 3px solid #ffc7ea;
      outline-offset: 0.2rem;
    }

    &:disabled {
      background: rgba(200, 200, 200, 0.4);
      color: #fff;
      cursor: not-allowed;
      opacity: 0.8;
    }
  }
}

// tablet
@media (min-width: 481px) and (max-width: 768px) {
  .conteiner {
    padding: 2.5rem;

    h2 {
      font-size: 1.9rem;
    }
  }

  .missoes-grid {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }

  .missao-card {
    font-size: 1rem;
    min-height: 24vh;
  }
}

// pc
@media (min-width: 769px) {
  .missao-card {
    font-size: 1.2rem;
    min-height: 26vh;
  }
}
