//chamando os arquivos para poder usa-los
@use './variaveis';
@use './inicial';
@use './winx';
@use './menu';
@use './missaoCard';
@use './missaoModal';
@use './inventario';
@use './camera';
@use './geolocalizacao';
